REACT_APP_REGISTRO_POR_PAGINA=10

REACT_APP_DB_CONEXION=dburl://sample

REACT_APP_NUMERO_GANADOR=10

REACT_APP_API_ENDPOINT=https://swapi.dev/api

REACT_APP_BASE_URL=https://guerrero.gob.mx/

REACT_APP_CONFIG_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c

REACT_APP_CONFIG_JSON={"id":1,"title":"App","flag":false}

